USE [DBAFramework];
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [cfg].[usp_GetRestoreTestBasePath] 
    @BasePath NVARCHAR(260) OUTPUT 
AS
/*==============================================================================
  Procedure : cfg.usp_GetRestoreTestBasePath  
  Project   : Automated Backup & Recovery Framework
  Author    : Dan Levi Menchaca Bedolla
  Role      : SQL Server DBA / Data Infrastructure & Reliability Engineering
  Created   : 2026
  Component : Restore Test Storage Resolver

  Purpose   :
      Resolves the active base path used specifically for restore test
      operations within the framework.

      This procedure:
      - Retrieves the active RESTORE_TEST base path
      - Delegates path resolution and validation to cfg.usp_GetActiveBasePath
      - Provides a simplified interface for restore test workflows

  Inputs    :
      None

  Outputs   :
      @BasePath - Resolved and validated restore test base path

  Dependencies :
      cfg.usp_GetActiveBasePath

  Used By   :
      cfg.usp_RestorePointInTime      

  Notes     :
      This procedure is a thin wrapper around cfg.usp_GetActiveBasePath.
      Its purpose is to simplify restore test path resolution and make the
      intent of the calling code more explicit.
==============================================================================*/
BEGIN
    SET NOCOUNT ON;

    EXEC cfg.usp_GetActiveBasePath 
        @PathType = 'RESTORE_TEST', 
        @BasePath = @BasePath OUTPUT;
END
